# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
*.egg-info/

# Installer logs
pip-log.txt

# PyInstaller
*.spec

# macOS
.DS_Store

# PyCharm files
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Exclude virtual environment directory
my_venv/
